body h1{
    font-family:fantasy;
    font-size: 50px;
    background-color: black;
    width:fit-content;
}

body h2 {
    background-color: black;
    width: fit-content;
    color:white;
}

body p {
    width: 700px;
    font-size: 15px;
    background-color: black;
}

body src {
    color:white;
}